button, .btn, .btn:focus {
    background-color: #55B359;
    border: none;
    color: #E5FCF5;
    border-radius: 5px;
    margin: 12px;
}

button:hover, .btn:hover {
    background-color: #B3DEC1;
    color: #2E3038;
}

button:disabled, .btn:disabled {
    background-color: #B3DEC1;
    color: #2E3038;
}

/* top bar */
.top-bar {
    display: flex;
    width: 700px;
    margin: 15px auto;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: #B3DEC1;
    margin-top: 50px;
    padding: 1rem 0;
    border: 1px solid gray;
}

.top-bar div {
    font-size: 20px;
    font-weight: 700;
}

#my-color {
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 5px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* play area */
.play-area-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* player info */
.player-info-container {
    background-color: #E5FCF5;
    flex: 0 0 auto;
    width: 15%;
    margin-right: 12px;
    height: 26rem;
    margin-top: 30px;
    border-radius: 5px;
    margin-left: 1rem;
    padding-left: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid gray;
    overflow-y: auto;
}

.player-info-title {
    padding-top: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: #E5FCF5;
    z-index: 1;
}

.player-box {
    margin-top: 1rem;
    height: 3.5rem;
    border-bottom: 1px solid #ccc;
}

.player-box-top,
.player-box-bot {
    display: flex;
}

.player-guesses {
    list-style-type: none;
    display: flex;
    text-align: center;
}

.player-guess {
    margin: 0 8px;
    text-align: center;
}

.player-color {
    width: 12px;
    height: 12px;
    margin: 0.5rem 1rem;
    border-radius: 2px;
    border: 1px solid gray;
}

/* color board */

#color-grid {
    gap: 1px;
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    margin: 20px auto;
    background-color: black;
    padding-bottom: 2px;
    padding-right: 2px;
    border-radius: 5px;
}

.color-row {
    display: flex;
}

.color-col, .grid-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    margin: 2px;
    border: 1px solid black;
}

/* clue input */

.clue-input-container {
    flex: 0 0 auto;
    /* Don't grow, don't shrink, initial size based on content */
    max-width: 400px;
    /* Limit width for responsiveness */
    margin-top: 20px;
    /* Spacing between color grid and clue input */
    align-items: center;
    margin: 0 auto;
}

/* game log */

.game-log-container {
    flex: 0 0 auto;
    width: 15%;
    height: fit-content;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 12px;
    position: relative;
}

#clue-log {
    resize: none;
    background-color: #E5FCF5;
    font-weight: 500;
    padding: 0.5rem;
    height: 26rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 2rem;
    border-radius: 5px;
    font-size: 16px;
}

#clue-log:hover {
    cursor: default;
}

#clue-log-label {
    position: absolute;
    top: 4px;
    left: 10px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
}

/* player info modal */
.modal {
    display: none;
    /* Hide modal by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
}

.modal-content input {
    margin-bottom: 10px;
}

/* card modal */

#colorOptionsModalContent > h3 {
    text-align: center;
}

.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-col {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    background-color: black;
    width: 3.5rem;
    padding: 4px 0;
    border-radius: 5px;
}

.card-color-square {
    height: 22px;
    width: 22px;
    margin: 0 auto;
}

.card-color-square:hover {
    cursor: pointer;
    border: 1px solid gray;
}

.card-coord {
    color: white
}

#colorChoice {
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
}

.guess-color-square {
    width: 9px;
    height: 9px;
    border: 1px solid gray;
    border-radius: 2px;
    margin: 1px;
}

/* Responsive layout */
@media (max-width: 1250px) {
    body {
        flex-direction: column;
    }

    .player-info-container {
        width: 624px;
        height: 12rem;
        margin: 0 auto;
        margin-top: 10px;

    }

    .clue-input-container {
        width: 100%;
    }

    .game-log-container {
        width: 624px;
        margin: 0 auto;
        margin-top: 10px;
    }

    #clue-log {
        height: 12rem;
    }

    .color-col, .grid-col {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16px;
        width: 16px;
        margin: 2px;
        border: 1px solid black;
    }
}