<!-- game/templates/game/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Color Clues: Lobby</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}">
</head>
<body>
    <div class="lobby-container">
        <h1 class="colorCluesTitle">Color Clues!</h1>
        <div class="gameRoomLabel">What game room would you like to enter?</div>
        <div class="gameRoomInputBox">
            <input id="room-name-input" type="text" size="25">
            <input id="room-name-submit" type="button" value="Enter">
        </div>
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/game/' + roomName + '/';
        };
    </script>
</body>
</html>